.ul
{
padding:0px;
color: white;
list-style-type:none;
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
}
.var_nav
{
position:relative;
background:#fff;
width:100%;
height:100px;
padding-bottom:5px;
}
.link_bg
{
 width:100px;
 height:100px;
 position:absolute;
 background:#C62828;
 color:#fff;

}
.link_bg i
{
 position:relative;
}
.link_title
{
position:absolute;
width:100%;
color:#fff;
}
.link_title:hover .icon
{
-webkit-transform:rotate(360deg);
-moz-transform:rotate(360deg);
-o-transform:rotate(360deg);
-ms-transform:rotate(360deg);
transform:rotate(360deg);
color: white;
}
.var_nav:hover .link_bg
{
width:100%;
background:#C62828;
-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
color: white;
transition: all 0.3s ease-in-out;
}
.var_nav:hover #tt
{
font-weight:bold;
color: white;
-webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out;
-o-transition:all .5s ease-in-out;
-ms-transition:all .5s ease-in-out;
 transition:all .5s ease-in-out;
}
.icon
{  padding-top: 5px;
  -webkit-transition:all .5s ease-in-out;
-moz-transition:all .5s ease-in-out;
-o-transition:all .5s ease-in-out;
-ms-transition:all .5s ease-in-out;
float:left;
transition:all .5s ease-in-out;
float:left;
}
.a{
display:block;
position:absolute;
float:left;
font-family:arial;
color:#fff;
text-decoration:none;
width:100%;
height:100px;
text-align:center;
}
.span
{
padding-top:7px;
display:block;
color: white;
margin-bottom: 2px;
}
.selected{
  background-color:#C62828;
  font-weight:bold;
  color: white;
}
.selected  #tt{
  font-weight:bold;
  background: #C62828;
  color: white;
}
