/* -- import Roboto Font -- */
@import url("//fonts.googleapis.com/css?family=Roboto400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic");
.material-form-field {
  position: relative;
  max-width: 25em;
  margin: 0 auto;
}
.material-form-field-input {
  padding: 0.5em 0;
  font-size: 1.5em;
  color: inherit;
  font-family: inherit;
  width: 100%;
  background: transparent;
  border-width: 0 0 1px 0;
  -webkit-transition: 0.4s ease border-color;
  transition: 0.4s ease border-color;
}
.material-form-field-input::-webkit-input-placeholder {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;
  color: transparent;
}
.material-form-field-input:focus:valid,
.material-form-field-input:focus:invalid {
  border-bottom-width: 2px;
}
.material-form-field-input:focus:valid {
  border-color: #008000;
}
.material-form-field-input:focus:invalid {
  border-color: #2a9def;
}
.material-form-field-input:focus::-webkit-input-placeholder,
.material-form-field-input[value]::-webkit-input-placeholder,
.material-form-field-input:valid::-webkit-input-placeholder {
  color: transparent;
}



.material-form-field-input:focus + .material-form-field-label,
.material-form-field-input[value] + .material-form-field-label,
.material-form-field-input:valid + .material-form-field-label {
  -webkit-transform: translateY(-1.1em);
          transform: translateY(-1.1em);
}
.material-form-field-input + .material-form-field-label {
  -webkit-transition: 0.4s ease all;
  transition: 0.4s ease all;
  cursor: pointer;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  font-size: 1.5em;
  left: 0;
  top: 0.55em;
  position: absolute;
  color: #fff;
}
.material-form-field-input:focus {
  outline: none;
}
.material-form + label {
  position: absolute;
  left: 0.5em;
}
body {
  font-family: "RobotoDraft", "Roboto", "Helvetica Neue, Helvetica, Arial", sans-serif;
  background: #3aadff;
  color: #fff;
}
.page-section {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.page-section-header {
  width: 100%;
}
.page-section-header-title {
  font-size: 2.5em;
  margin-bottom: 1em;
  font-weight: 300;
}
.page-section-wrapper {
  width: 100%;
  padding: 10%;
  box-sizing: border-box;
}
.space{
  margin-bottom: 20px;
}
