.box{
  position:fixed;
  right: 2px;
  top: 70px;
  bottom: 0;
display: flex;
flex-flow: row;
flex-wrap: wrap;
}
.mainBill{
  width: 82% !important;
  float: left;
	width: 79%;
	height: 690px;
	background-color: white;
	position: relative;
	font-family: helvetica,verdana,sans-serif;
	border-bottom: 1px solid rgb(235,235,235);
	border-top: 1px solid rgb(235,235,235);
	margin: 0;
	padding: 0;

}
#Bill{
  display:flex;
  flex: 1;
  flex-wrap:wrap;
  justify-content: space-around;
  flex-flow: column;
  height: 100vh;
  width: 0px;
}
#MenuOptions{
  display: flex;
  flex-flow: row;
  flex:10;
  flex-wrap:wrap;
  position: relative;
  top: 0px;
}
#slidebar{
  box-shadow: 2px 0px 10px #777777;
  margin-right: 3px;
  z-index: 1;
}
.menubox{
  border: groove;
  position:relative;
  background-color: black;
  left:2px;
  top: 0px;
  bottom: 0;
  width: 100%;
  height: 100;
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

}
