.mycolumn{
}
.selectprocuct{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.totalofproduct{
  display: flex;
  flex:1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.mycategories{
  display: flex;
  height: 40px;
  font-size: 1em;
  color: #000;
  background-color: #ffc300;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.myproducts{
  display: flex;
  height: 35px;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: balck!important;
  margin: 1px!important;
  background-color: #fff;
}
.myproductname{
  color: #000;
  font-weight: normal;
  overflow: hidden;
text-overflow: "…";
}
.myproductprice{
color: #000;
padding-left: 3px;
padding-right: 3px;
}
.myproductquantity{
  color: blue;
  padding-left: 3px;
  padding-right: 3px;
}
.myproducticon{
  color: red;
  padding-left: 3px;
  padding-right: 3px;
}
.calculateheader{
  position: fixed;
  top:65px;
  z-index: 2;
}
