.container {
  font-family: arial;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px 50px 50px;
1}

.myheader{
  color: #3399cc;
  font-weight: bold;
  font-size: 22px;
  text-align: center;
  margin: 0 0 70px 0;
}

.group {
  position: relative;
  width: 300px;
  margin-bottom: 30px;
}
.group input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  padding: 10px;
  display: block;
  width: 300px;
}
.group select {
  background: transparent;
  border: none;
  border-bottom: 1px solid #333;
  padding: 10px;
  display: block;
  width: 330px;
  font-size: 15px;
}
.group input:focus {
  outline: none;
}
.group select:focus {
  outline: none;
}
.group input:focus ~ label, .group input:valid ~ label {
  top: -10px;
  font-size: 14px;
  color: #3399cc;
}
.group label {
  position: absolute;
  color: #333;
  top: 12px;
  left: 0;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.bar {
  position: relative;
  display: block;
  width: 320px;
}
.bar:before {
  content: "";
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #3399cc;
  height: 4px;
  -webkit-transition: left 0.2s ease-out, right 0.2s ease-out;
  transition: left 0.2s ease-out, right 0.2s ease-out;
}

input:focus ~ .bar:before {
  left: 0;
  right: 0;
}



.mybutton {
  position: relative;
  display: block;
  margin: 0 auto;
  padding: 10px 35px;
  border: none;
  border-radius: 3px;
  background-color: whitesmoke;
  font-family: 'Open Sans', sans-serif !important;
  font-size: 16px;
  font-weight: 100;
  color: #4f6f8f;
  letter-spacing: 1px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.mybutton:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: #4f6f8f;
  border-radius: 100%;
  opacity: .6;
  transform: scale(0);
  visibility: hidden;
}
.mybutton:hover {
  background-color: #e8e8e8;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.mybutton:focus {
  outline: none;
}
.mybutton:focus:after {
  visibility: visible;
}
.mybutton:not(:active):after {
  animation: ripple 1s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1.5);
  }
}





.material-card {
  width:250px;
  height:150px;
  background:white;
  border-radius:4px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
}

.title-row {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding:8px 10px;
}

.title-txt {
  color:#4a4a4a;
  font-size: 16px;
  font-weight: 600;
}

.date-txt {
  color:#9b9b9b;
  font-size:12px;
}

.view-txt {
  cursor:pointer;
  color:#50a5de;
  font-size:12px;
}

.sales-row {
  display:flex;
  display:-webkit-flex;
  background:red;
  -webkit-flex-direction: row;
   flex-direction: row;
}

.left-sec {
  background:#f5a623;
  flex-grow: 1;
  -webkit-flex-direction: column;
   flex-direction: column;
  display:flex;
  display:-webkit-flex;
}

.ytd-sales-row {
  background:#ef5350;
  font-size:14px;
  color:white;
  display:flex;
  display:-webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding:8px;
  flex-grow:1;
}

.fytd-sales-row {
  background:#9ebb3b;
  font-size:14px;
  color:white;
  display:flex;
  display:-webkit-flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding:8px;
  flex-grow:1;
}

.right-sec {
  padding:8px 15px;
  background:#8bc7ef;
  display:flex;
  display:-webkit-flex;
}

.target-box {
  margin:auto;
  text-align:center;
}

.target-circle {
  background:white;
  border-radius:50px;
  width:42px;
  height:42px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, .3);
  color:#666666;
  font-size:14px;
  text-align:center;
  line-height:40px;
  margin-bottom:5px;
}

.target-txt {
  font-size:10px;
  font-weight:600;
  color:white;
}

.myimage{
  width: 100%;
  height: 180px;
}
